fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-huggingface
langchain-pinecone
langchain-groq
sentence-transformers
pinecone-client
transformers
torch==2.4.1+cpu --index-url https://download.pytorch.org/whl/cpu
numpy
pandas
